.overlay {
  position: fixed;
  inset: 0;
  background: rgba(6, 6, 6, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 100px 0;
  overflow-y: scroll;
}

.content {
  width: 50%;
  background: white;
  padding: 20px;
  border-radius: 45px;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
}
